{% extends "layout.html" %}
{% block content %}
<div class="about-container">
    <div class="about-text">
      <h1>About Me!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in tempus risus. Aliquam vulputate bibendum sapien ac sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent faucibus erat nunc, vitae cursus ipsum vulputate id. Nullam vel maximus nisl, maximus tincidunt ligula. Fusce interdum gravida nibh quis elementum. Duis at neque non sapien ullamcorper ultricies sed volutpat orci. Mauris malesuada leo ac diam rhoncus, ut faucibus justo fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi vehicula augue congue, rutrum metus at, aliquam turpis. Fusce ac porta massa. Nulla fermentum dapibus bibendum. Maecenas tristique, turpis vitae ullamcorper consectetur, elit ipsum lobortis lorem, quis consequat sem purus vel augue. Proin in enim eget ligula porta pharetra vel vitae risus. Cras fermentum felis ante, et aliquet erat ornare ac.</p>

<p>Praesent a leo luctus, pulvinar nulla quis, tincidunt risus. Donec porta consectetur turpis sit amet fringilla. Mauris nulla nunc, luctus vel lorem a, egestas elementum augue. Curabitur ultricies diam vel justo eleifend pulvinar. Quisque nec augue fringilla, ultrices mauris a, tempus sem. Aenean at lacus mollis, congue dui aliquam, porta turpis. Pellentesque quis nibh sit amet mauris vestibulum sollicitudin quis facilisis dui.</p>

<p>Phasellus et molestie sapien, nec consequat sapien. Maecenas egestas lobortis ipsum, at condimentum mauris. Nam congue ornare massa eget blandit. Integer mauris era.</p>
    </div>
    <div class="about-photo">
      <img src="/static/images/profilephoto.jpg" alt="Profile Photo">
    </div>
  </div>
{% endblock content %}