{% extends "layout.html" %}
{% block content %}
  <div class="space"> </div>
  <div class="photo-home">
    <img src="\static\images\IMG_0846-1.png" alt="Red">
    <div class="overlay">
      <p>Portraits</p>
    </div>
  </div>

  <div class="photo-home">
    <img src="\static\images\IMG_0428-1.png" alt="Orange">
    <div class="overlay">
      <p>Events</p>
    </div>
  </div>

  <div class="photo-home">
    <img src="\static\images\IMG_0910-1.png" alt="Yellow">
    <div class="overlay">
      <p>Concerts</p>
    </div>
  </div>

  <div class="photo-home">
    <img src="\static\images\IMG_0575-2.png" alt="Green">
    <div class="overlay">
      <p>Entertainment</p>
    </div>
  </div>

  <div class="photo-home">
    <img src="\static\images\IMG_1063-1.png" alt="Blue">
    <div class="overlay">
      <p>Fashion</p>
    </div>
  </div>

  <div class="photo-home">
    <img src="\static\images\IMG_0949-5.png" alt="Purple">
    <div class="overlay">
      <p>Street Art</p>
    </div>
  </div>
{% endblock content %}